<?xml version="1.0"?>
<config>
    <modules>
        <CLT_QBCSV>
            <version>0.9</version>
        </CLT_QBCSV>
    </modules>
    <global>
        <models>
            <qbcsv>
                <class>CLT_QBCSV_Model</class>
            </qbcsv>
        </models>
        <blocks>
            <qbcsv>
                <class>CLT_QBCSV_Block</class>
            </qbcsv>
        </blocks>
        <helpers>
            <qbcsv>
                <class>CLT_QBCSV_Helper</class>
            </qbcsv>
        </helpers>
    </global>
    <admin>
        <layout>
            <updates>
                <qbcsv>
                    <file>qbcsv.xml</file>
                </qbcsv>
            </updates>
        </layout>
        <routers>
            <qbcsv>
                <use>admin</use>
                <args>
                    <module>CLT_QBCSV</module>
                    <frontName>qbcsv</frontName>
                </args>
            </qbcsv>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <qbexportmenu  module="qbcsv">
                <title>Quick Books</title>
                <sort_order>1</sort_order>
                <children>
                    <qbexport module="qbcsv">
                        <title>Export Quickbooks CSV</title>
                        <action>qbcsv/index/index</action>
                    </qbexport>
                </children>
            </qbexportmenu>
        </menu>
        <!--<events>-->
            <!--<adminhtml_block_html_before>-->
                <!--<observers>-->
                    <!--<option_in_custom_export>-->
                        <!--<class>custom_export/Observer</class>-->
                        <!--<method>includeOption</method>-->
                    <!--</option_in_custom_export>-->
                <!--</observers>-->
            <!--</adminhtml_block_html_before>-->
        <!--</events>-->

        <!--<translate>-->
            <!--<modules>-->
                <!--<qualquer_id_unico_aqui>-->
                    <!--<files>-->
                        <!--<default>Lema21_CustomExport.csv</default>-->
                    <!--</files>-->
                <!--</qualquer_id_unico_aqui>-->
            <!--</modules>-->
        <!--</translate>-->
    </adminhtml>
</config>